@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light theme */
:root {
  --background: #ffffff;
  --foreground: #111827;
  --card: #f9fafb;
  --card-foreground: #111827;
  --muted: #f3f4f6;
  --muted-foreground: #6b7280;
  --primary: #3b82f6;
  --primary-foreground: #ffffff;
  --accent: #fcd34d;
  --accent-foreground: #111827;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #d1d5db;
  --input: #f9fafb;
  --ring: #3b82f6;
}

/* Dark theme */
.dark {
  --background: #111827;
  --foreground: #f9fafb;
  --card: #1f2937;
  --card-foreground: #f9fafb;
  --muted: #1f2937;
  --muted-foreground: #9ca3af;
  --primary: #3b82f6;
  --primary-foreground: #ffffff;
  --accent: #fcd34d;
  --accent-foreground: #111827;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #374151;
  --input: #1f2937;
  --ring: #3b82f6;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
